*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;

}
body{
    background-color: #1f242d;
    color: #fff;
}
.header{
    position: fixed;
    top:0;
    left:0;
    height: 2rem;
    width: 100%;
    padding:20px 10%;
    background: #1f242d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header .sticky{
    border-bottom: 0.1rem solid rgba(0,0,0,0.2);
}
.logo{
    font-size: 25px;
    color:#fff;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
#menu-icon{
    font-size: 4rem;
    color: #fff;
    display:none ;
}
.navbar a{
    display: inline-block;
    font-size: 20px;
    color:#fff;
    text-decoration: none;
    font-weight: bold;
    margin-left: 35px;
    transition: .3s;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.navbar a:hover , .navbar a:active{
    color:#0ef;
}
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content{
    max-width: 600px;
}
.home-img img{
    height: 20vw;
    width: 20vw;
    margin-right: -20px;
    border-radius: 50%;
    opacity: 0;
    animation: zoomIn 1s ease forwards;
    animation-delay: 2s;
}
.home-content h3{
    font-size: 2rem;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3 span{
    color: #0ef;
}
.home-content h1{
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.4;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}
.home-content p{
    font-size: 1.2rem;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.social-media-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background:transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin:30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.social-media-icons a:hover{
    background-color: #0ef;
    color: #323946;
    box-shadow: 0 0 1rem #0ef;
}
/* .fa-brands , .fa-sharp {
    color: #fff;
    background-color: #fff;
} */
button{
    display: inline-block;
    border-radius: 40px;
    background-color: #0ef;
    padding: 12px 28px;
    /* box-shadow: 0 0 10px #0ef; */
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}
button:hover{
    box-shadow: none;
}

@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }   
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }   
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes zoomIn{
    0%{
        transform:scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    /* background-color: #323946; */
    padding: 11rem;
}
.about-img{
    height: 20vw;
    width: 99vw;
    margin-left: -20px;
    border-radius: 50%;
    opacity: 0;
    animation: zoomIn 1s ease forwards;
    animation-delay: 2s;
    /* width: 35vw; */
}
.heading{
    text-align: center;
    font-size: 2.3rem;
}
.heading span{
    color: #0ef;
}
.about-content h2{
    text-align:left;
    line-height: 1.5;
}
.about-content h3{
    font-size: 1.5rem;
}
.about-content p{
    font-size: 1.2rem;
    margin: 2rem 0 3rem;
}
.more-btn{
    display: inline-block;
    border-radius: 40px;
    background-color: #0ef;
    padding: 10px 25px;
    /* box-shadow: 0 0 10px #0ef; */
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    text-decoration: none;
}
.more-btn:hover{
    box-shadow: none;
}
/* skills pending */
.skills-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:10px;
}
.skills-heading{
    text-align: center;
    font-size: 2.3rem;
}
.skills-heading span{
    color: #0ef;

}
.subject{
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 22rem;
}
.progress_bar{
    margin: auto;
    width:50%;
    height: 16px;
    background-color:#444;
    border-top: 1px solid #000;
    border-bottom: 1px solid #444;
    border-radius: 15px;
}
.Progress_line{
    position: relative;
    width: 90%;
    height: 100%;
    background-color: #787cb5;
    box-shadow: -1px -1px 2px #222222 1px 1px 2px #111111;
    border-radius: 15px;
}
.Progress_line::after{
    position: absolute;
    content: attr(value);
    top:-35px;
    right:0px;
    transform: translateX(-50%);
    color: #aaabb0;
    font-size: 17px;
}
/* .portfolio{
    background-color: #323946;
} */
.portfolio h2{
    margin-bottom: 4rem;
    font-size: 1.9rem;
    text-align: center;
}
.portfolio-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    gap:2.5rem;
}
.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 25px;
    box-shadow:0 0 1rem #1f242d;
    overflow: hidden;
    display: flex;
}
.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}
.portfolio-box:hover img{
    transform: scale(1.1);
}
.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.1),#0ef);
    /* background: linear-gradient(rgba(255,255,255,1),0); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}
.portfolio-layer h4{
    font-size: 1.2rem;
}
.portfolio-layer p{
    font-size: 1.6rem;
    margin:3rem 0 1rem;
}
.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border-radius: 80%;
}
.portfolio-layer a i{
    font-size: 1rem;
    background-color: #323946;
}
/* Education pending.. */
.contact h2{
    margin-bottom: 3rem;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content:center ;
    flex-wrap: wrap;
}
.contact form .input-box input, .contact form textarea{
    width: 100%;
    padding: 0.9rem;
    font-size: 1rem;
    color: #fff;
    background-color: #323946;
    border-radius: 0.8rem;
    margin: 0.7rem 0.6rem;
}
.contact form .input-box input{
    width: 35%;
}
.contact form textarea{
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}
.submit-btn{
   padding: 0.5rem;
   border-radius: 10px;
   background-color: #0ef;
   font-weight: bold;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 9%;
    /* background: #1f242d; */
    background-color: #323946;
}
.footer-text p{
    font-size: 1rem;
}
.footer-top-icon a{
    display: inline-flex;
    justify-content: center;
    align-items:center ;
    padding: 0.1rem;
    background-color:#0ef;
    border-radius: 0.8rem;
    transition: .5s ease;
}
.footer-top-icon a i{
    font-size: 2.5rem;
    color: #323946;
}



/* Media Query */
@media screen and (max-width:1100px) {
    html{
        font-size: 55%;
    }
}
@media screen and (max-width:990px) {
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .skills{
        padding: 10rem 3% 2rem;
    }
    .portfolio{
        padding-bottom: 7rem;
    }
    .contact{
        min-height: auto;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media screen and (max-width:768px) {
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background-color: #1f242d;
        border-top: 0.1rem solid rgba(0,0,0,0.2);
        box-shadow:0 0.5rem rgba(0,0,0,0.2);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home{
        flex-direction: column;
    }
    .home-content{
        font-size: 5rem;
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    .about-img{
        width: 70vw;
        margin-top: 4rem;
    }
    .skills h2{
        margin-bottom: 3rem;
    }
    .portfolio h2{
        margin-bottom: 3rem;
    }
    .portfolio-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:617px) {
    .portfolio-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:450px) {
    .html{
        font-size: 50%;
    }
    .contact form .input-box input{
        width:100%;
    }
}
@media screen and (max-width:365px) {
    .home-img{
        width: 90vw;
    }
    .about-img{
        width: 90vw;
    }
    .footer{
        text-align: center;
        margin-top: 2rem;
    }
}